[Oo]bj/
[Bb]in/
TestResults/
.nuget/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/

nuget.exe

_ReSharper.*

*.user
*.suo
*.ide/

*.cache
*.docstates
*net45.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*.exe
*.dll
