@{
    //TODO: Until we have a way to specify the layout page at application level.
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Query bugs";
}

<div class="jumbotron">
    <img src="~/Images/VS.jpg" />

    <ul class="row list-unstyled" id="album-list">
    @Html.LabelFor(null, "Assigned To = ", null)
        @Html.DropDownListFor();
    </ul>
</div>