@using System.Security.Principal

@{
    //TODO: Until we have a way to specify the layout page at application level.
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="row"> 
    <h1 class="title-text">
        Click on the tiles to start!

    </h1>
    <p>
          
    </p>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail tile tile-double tile-blue">
            <a href="@Url.Action("Querybugs", "Query", new { assignedTo=Context.User.Identity.GetUserName(), bugState="Active" })">
                <h2 class="tile-text">
                    My work items
                </h2>
            </a>
        </div>
    </div>


    <div class="col-sm-6 col-md-6">
        <div class="thumbnail tile tile-double  tile-red">
            @*<a href="bugs/edit">*@
            <a href="@Url.Action("Edit", "Bugs")">
                <h2 class="tile-text">
                    New work item
                </h2>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail tile tile-double tile-orange">
            <a href="@Url.Action("Querybugs", "Query", new { assignedTo=Context.User.Identity.GetUserName(), bugState="Resolved" })">
                <h2 class="tile-text">
                    My resolved bugs
                </h2>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-6">
        <div class="thumbnail tile tile-double tile-green">
            <a href="@Url.Action("Querybugs", "Query")">
                <h2 class="tile-text">
                    Query
                </h2>
            </a>
        </div>
    </div>
</div>

<div>

    <ul class="row list-unstyled" id="album-list">

        <li>Annoucement panel</li>
        <li>If(Admin) show tile to post an announcement.</li>
    </ul>
</div>
