@{
    //TODO: Until we have a way to specify the layout page at application level.
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Images/VS.jpg" />
    <ul class="row list-unstyled" id="album-list">
        Annoucement panel<hr />
        Mybugs<hr />
        My resolved bugs<hr />
        Create new bug<hr />
        Query<hr />
        If(Admin) show tile to post an announcement.<hr />
    </ul>
</div>